@charset "utf-8";

#dragArea {
  width: 400px;
  height: 120px;
  padding: 20px 0 0 0;
  border: 3px dashed #eee;
  text-align: center;
  margin-bottom: 20px;
}
#dragArea.over {
  border-color: #999;
}

input[type=file]{
  opacity: 0;
  visibility: hidden;
  height: 0;
}

#imageupload {
    display: inline-block;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    background-color: #29B6F6;
    padding: 16px 32px;
    /*-webkit-border-radius: 5px;*/
    border-radius: 5px;
}